<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0devConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0dev;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC2ConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.RECConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.RECConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC;Persist Security Info=True;User ID=usrGEN0016;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0genesysConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0genesys;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0devConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0dev;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0devConnectionString2"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0dev;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0devConnectionString3"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0dev;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0genesysConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0genesys;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC2ConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC2ConnectionString2"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.RECConnectionString2"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC2ConnectionString3"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.NeoAgrum_SACConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.db0grpsilConnectionString"
            connectionString="Data Source=SRVROJAS\SQLSERVER2014;Initial Catalog=db0grpsil;Persist Security Info=True;User ID=sa;Password=P@$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.NeoAgrum_SACConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Silvestre_Peru_SAC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.NeoAgrum_SACConnectionString2"
            connectionString="Data Source=10.10.1.8;Initial Catalog=NeoAgrum_SAC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0genesysConnectionString2"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0genesys;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString2"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.NeoAgrum_SACConnectionString3"
            connectionString="Data Source=10.10.1.8;Initial Catalog=NeoAgrum_SAC;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Inatec_Peru_SACConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Inatec_Peru_SAC;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.NeoAgrum_SACConnectionString4"
            connectionString="Data Source=10.10.1.8;Initial Catalog=NeoAgrum_SAC;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString3"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Silvestre_Peru_SAC;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString4"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Silvestre_Peru_SAC;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0genesysConnectionString3"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0genesys;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Inatec_Peru_SACConnectionString1"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Inatec_Peru_SAC;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString5"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Silvestre_Peru_SAC;Persist Security Info=True;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC_NEOConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC_NEO;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.Silvestre_Peru_SACConnectionString6"
            connectionString="Data Source=10.10.1.8;Initial Catalog=Silvestre_Peru_SAC;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0genesysConnectionString4"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0genesys;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC_SilConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC_Sil;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC_Sil2ConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC_Sil2;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC_Sil3ConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC_Sil3;User ID=aplicacionesgs;Password=desarrollo2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
