<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Pruebas-->
    <add name="REC" connectionString="Data Source=10.10.1.8;Initial Catalog=REC;Persist Security Info=True;User ID={0};Password=" providerName="System.Data.SqlClient"/>
    <add name="genesys" connectionString="Data Source=10.10.1.8;Initial Catalog=gs0dev;Persist Security Info=True;User ID=sa;Password=Sistemas1912" providerName="System.Data.SqlClient"/>
    <!--Produccion-->
    <!--<add name="silvestre" connectionString="Data Source=10.10.1.8;Initial Catalog=Silvestre_Peru_SAC;Persist Security Info=True;User ID=usrGEN0041;Password=S!1v3stR3" providerName="System.Data.SqlClient"/>-->
    <!--<add name="neoagrum" connectionString="Data Source=10.10.1.8;Initial Catalog=NeoAgrum_SAC;Persist Security Info=True;User ID=usrGEN0037;Password=n30@gRvm" providerName="System.Data.SqlClient"/>-->
    <!--<add name="genesys" connectionString="Data Source=10.10.1.8;Initial Catalog=gs0genesys;Persist Security Info=True;User ID=sa;Password=Sistemas1912" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>