<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmpresaWCF" maxReceivedMessageSize="6553600" />
                <binding name="BasicHttpBinding_IComisionWCF" maxReceivedMessageSize="6553600"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49648/EmpresaWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmpresaWCF" contract="EmpresaWCF.IEmpresaWCF"
                name="BasicHttpBinding_IEmpresaWCF" />
            <endpoint address="http://localhost:49648/ComisionWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IComisionWCF" contract="ComisionWCF.IComisionWCF"
                name="BasicHttpBinding_IComisionWCF" />
        </client>
    </system.serviceModel>
</configuration>