<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpCredentialUser" value="mesa.ayuda@gruposilvestre.com.pe" />
    <add key="SmtpCredentialPass" value="Increase12345678" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResponsableContratoWCF" />
                <binding name="BasicHttpBinding_IContratosWCF" />
                <binding name="BasicHttpBinding_ICorreoWCF" />
                <binding name="BasicHttpBinding_IMarcasWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49648/ResponsableContratoWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponsableContratoWCF"
                contract="ResponsableContratoWCF.IResponsableContratoWCF"
                name="BasicHttpBinding_IResponsableContratoWCF" />
            <endpoint address="http://localhost:49648/ContratosWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IContratosWCF" contract="ContratosWCF.IContratosWCF"
                name="BasicHttpBinding_IContratosWCF" />
            <endpoint address="http://localhost:49648/CorreoWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICorreoWCF" contract="CorreoWCF.ICorreoWCF"
                name="BasicHttpBinding_ICorreoWCF" />
            <endpoint address="http://localhost:49648/MarcasWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMarcasWCF" contract="MarcasWCF.IMarcasWCF"
                name="BasicHttpBinding_IMarcasWCF" />
        </client>
    </system.serviceModel>
</configuration>