<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GS.SISGEGS.DM.Properties.Settings.gs0devConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=gs0dev;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
        <add name="GS.SISGEGS.DM.Properties.Settings.REC2ConnectionString"
            connectionString="Data Source=10.10.1.8;Initial Catalog=REC2;Persist Security Info=True;User ID=sa;Password=Sistemas1912"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
