<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="Telerik.Skin" value="Telerik" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  
 
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
    <!--<httpRuntime maxRequestLength="10240"/>-->
    <authentication mode="Forms">
      <forms loginUrl="frmLogin.aspx" name=".ASPXFORMSAUTH" defaultUrl="~/Security/frmInicio.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge,chrome=1,IE=EmulateIE9" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsuarioWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IMenuWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IDireccionWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_ISedeWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IEnvioWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IPedidoWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IDespachoWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IMonedaWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IFormaPagoWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IItemWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_INaturalezaGastoWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IUnidadWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IVarianteWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IImpuestoWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IGuiaWCF" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IPedidoWCF1" />
        <binding name="BasicHttpBinding_IAgendaWCF" />
        <binding name="BasicHttpBinding_ICentroCostoWCF" />
        <binding name="BasicHttpBinding_ICreditoWCF" />
        <binding name="BasicHttpBinding_IDocumentoWCF" />
        <binding name="BasicHttpBinding_IEgresosWCF" />
        <binding name="BasicHttpBinding_IEmpresaWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/DespachoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDespachoWCF"
        contract="DespachoWCF.IDespachoWCF" name="BasicHttpBinding_IDespachoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/DireccionWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDireccionWCF"
        contract="DireccionWCF.IDireccionWCF" name="BasicHttpBinding_IDireccionWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/EnvioWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnvioWCF"
        contract="EnvioWCF.IEnvioWCF" name="BasicHttpBinding_IEnvioWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/FormaPagoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormaPagoWCF"
        contract="FormaPagoWCF.IFormaPagoWCF" name="BasicHttpBinding_IFormaPagoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/MenuWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuWCF"
        contract="MenuWCF.IMenuWCF" name="BasicHttpBinding_IMenuWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/MonedaWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonedaWCF"
        contract="MonedaWCF.IMonedaWCF" name="BasicHttpBinding_IMonedaWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/SedeWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISedeWCF"
        contract="SedeWCF.ISedeWCF" name="BasicHttpBinding_ISedeWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/NaturalezaGastoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INaturalezaGastoWCF"
        contract="NaturalezaGastoWCF.INaturalezaGastoWCF" name="BasicHttpBinding_INaturalezaGastoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/UnidadWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnidadWCF"
        contract="UnidadWCF.IUnidadWCF" name="BasicHttpBinding_IUnidadWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/VarianteWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVarianteWCF"
        contract="VarianteWCF.IVarianteWCF" name="BasicHttpBinding_IVarianteWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/GuiaWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGuiaWCF"
        contract="GuiaWCF.IGuiaWCF" name="BasicHttpBinding_IGuiaWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/ImpuestoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImpuestoWCF"
        contract="ImpuestoWCF.IImpuestoWCF" name="BasicHttpBinding_IImpuestoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/UsuarioWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioWCF"
        contract="UsuarioWCF.IUsuarioWCF" name="BasicHttpBinding_IUsuarioWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/PedidoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoWCF"
        contract="PedidoWCF.IPedidoWCF" name="BasicHttpBinding_IPedidoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/ItemWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IItemWCF"
        contract="ItemWCF.IItemWCF" name="BasicHttpBinding_IItemWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/AgendaWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgendaWCF"
        contract="AgendaWCF.IAgendaWCF" name="BasicHttpBinding_IAgendaWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/CentroCostoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentroCostoWCF"
        contract="CentroCostoWCF.ICentroCostoWCF" name="BasicHttpBinding_ICentroCostoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/CreditoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditoWCF"
        contract="CreditoWCF.ICreditoWCF" name="BasicHttpBinding_ICreditoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/DocumentoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentoWCF"
        contract="DocumentoWCF.IDocumentoWCF" name="BasicHttpBinding_IDocumentoWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/EgresosWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEgresosWCF"
        contract="EgresosWCF.IEgresosWCF" name="BasicHttpBinding_IEgresosWCF" />
      <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/EmpresaWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresaWCF"
        contract="EmpresaWCF.IEmpresaWCF" name="BasicHttpBinding_IEmpresaWCF" />
    </client>
  </system.serviceModel>
</configuration>