<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Id_AlmacenDefault" value="20191503482"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWmsWCF" maxReceivedMessageSize="6553600"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/WmsWCF.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWmsWCF" contract="WmsWCF.IWmsWCF" name="BasicHttpBinding_IWmsWCF"/>-->
     
    
    <endpoint address="http://localhost:49648/WmsWCF.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWmsWCF" contract="WmsWCF.IWmsWCF"  name="BasicHttpBinding_IWmsWCF" />
    
  </client>
  </system.serviceModel>
</configuration>