<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWmsWCF" maxReceivedMessageSize="9553600" />
                <binding name="BasicHttpBinding_IAgendaWCF" maxReceivedMessageSize="9553600" />
                <binding name="BasicHttpBinding_IOrdenVentaWCF" maxReceivedMessageSize="9553600" />
                <binding name="BasicHttpBinding_IImpuestoWCF" maxReceivedMessageSize="9553600" />
                <binding name="BasicHttpBinding_IItemWCF" maxReceivedMessageSize="9553600" />
                <binding name="BasicHttpBinding_IGuiaWCF" maxReceivedMessageSize="9553600"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/WmsWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWmsWCF" contract="WmsWCF.IWmsWCF"
                name="BasicHttpBinding_IWmsWCF" />
            <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/AgendaWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAgendaWCF" contract="AgendaWCF.IAgendaWCF"
                name="BasicHttpBinding_IAgendaWCF" />
            <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/OrdenVentaWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenVentaWCF"
                contract="OrdenVentaWCF.IOrdenVentaWCF" name="BasicHttpBinding_IOrdenVentaWCF" />
            <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/ImpuestoWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IImpuestoWCF" contract="ImpuestoWCF.IImpuestoWCF"
                name="BasicHttpBinding_IImpuestoWCF" />
            <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/ItemWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IItemWCF" contract="ItemWCF.IItemWCF"
                name="BasicHttpBinding_IItemWCF" />
            <endpoint address="http://intranet.gruposilvestre.com.pe/WCFServices/GuiaWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGuiaWCF" contract="GuiaWCF.IGuiaWCF"
                name="BasicHttpBinding_IGuiaWCF" />-->

          <endpoint address="http://localhost:49648/WmsWCF.svc" binding="basicHttpBinding"
                       bindingConfiguration="BasicHttpBinding_IWmsWCF" contract="WmsWCF.IWmsWCF"
                       name="BasicHttpBinding_IWmsWCF" />
          <endpoint address="http://localhost:49648/AgendaWCF.svc" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IAgendaWCF" contract="AgendaWCF.IAgendaWCF"
              name="BasicHttpBinding_IAgendaWCF" />
          <endpoint address="http://localhost:49648/OrdenVentaWCF.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenVentaWCF"
              contract="OrdenVentaWCF.IOrdenVentaWCF" name="BasicHttpBinding_IOrdenVentaWCF" />
          <endpoint address="http://localhost:49648/ImpuestoWCF.svc" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IImpuestoWCF" contract="ImpuestoWCF.IImpuestoWCF"
              name="BasicHttpBinding_IImpuestoWCF" />
          <endpoint address="http://localhost:49648/ItemWCF.svc" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IItemWCF" contract="ItemWCF.IItemWCF"
              name="BasicHttpBinding_IItemWCF" />
          <endpoint address="http://localhost:49648/GuiaWCF.svc" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IGuiaWCF" contract="GuiaWCF.IGuiaWCF"
              name="BasicHttpBinding_IGuiaWCF" />



          
        </client>
    </system.serviceModel>
</configuration>