<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpMerlinCredentialUser" value="merlin@gruposilvestre.com.pe" />
    <add key="SmtpMerlinCredentialPass" value="Merlin$$2017" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMerlinWCF" maxReceivedMessageSize="65536000"/>
                <binding name="BasicHttpBinding_ICorreoWCF" maxReceivedMessageSize="65536000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49648/MerlinWCF.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMerlinWCF" contract="MerlinWCF.IMerlinWCF" name="BasicHttpBinding_IMerlinWCF"/>
            <endpoint address="http://localhost:49648/CorreoWCF.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorreoWCF" contract="CorreoWCF.ICorreoWCF" name="BasicHttpBinding_ICorreoWCF"/>
        </client>
    </system.serviceModel>
</configuration>
