<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpCredentialUser" value="mesa.ayuda@gruposilvestre.com.pe" />
    <add key="SmtpCredentialPass" value="Increase12345678" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IResponsableContratoWCF" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IContratosWCF" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IMarcasWCF" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IAgendaWCF" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IEstadoCuentaWCF" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_ICorreoWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49648/ResponsableContratoWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponsableContratoWCF"
        contract="ResponsableContratoWCF.IResponsableContratoWCF" name="BasicHttpBinding_IResponsableContratoWCF" />
      <endpoint address="http://localhost:49648/ContratosWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IContratosWCF" contract="ContratosWCF.IContratosWCF"
        name="BasicHttpBinding_IContratosWCF" />
      <endpoint address="http://localhost:49648/MarcasWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMarcasWCF" contract="MarcasWCF.IMarcasWCF"
        name="BasicHttpBinding_IMarcasWCF" />
      <endpoint address="http://localhost:49648/AgendaWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAgendaWCF" contract="AgendaWCF.IAgendaWCF"
        name="BasicHttpBinding_IAgendaWCF" />
      <endpoint address="http://localhost:49648/EstadoCuentaWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstadoCuentaWCF"
        contract="EstadoCuentaWCF.IEstadoCuentaWCF" name="BasicHttpBinding_IEstadoCuentaWCF" />
      <endpoint address="http://localhost:49648/CorreoWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICorreoWCF" contract="CorreoWCF.ICorreoWCF"
        name="BasicHttpBinding_ICorreoWCF" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>